body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 500px;
  margin: 0 auto;

  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add background image */
  background-image: url("./edwin-andrade-4V1dC_eoCwg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.submitMsg{
  background: #75ff67;
    border-radius: 15px;
    padding: 2px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-weight: bold;
  /* background-color: rgb(166, 166, 166); */
  /* display: inline; */
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
